*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

main{
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 10px;
}

.meme-container{
  max-width: 600px;
  padding-block: 2px;
  background-color: antiquewhite;
}

.meme-container img{
  width: 100%;
  padding-inline: 20px;
}

.memeBtn{
  border: none;
  outline: none;
  margin-block: 10px;
  background-color: green;
  padding: 5px 10px;
  color: #fff;
}